@charset "UTF-8";
@font-face {
  font-family: "AvenirNextRoundedReg";
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.eot");
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.woff") format("woff"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextRoundedMed";
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.eot");
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.woff") format("woff"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextRoundedDemi";
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.eot");
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.woff") format("woff"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaReg";
  src: url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.eot");
  src: url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.woff") format("woff"), url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.eot");
  src: url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.woff") format("woff"), url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.toy-name {
  margin-bottom: 5px;
  font: 400 14px/14px "Open Sans", Arial, sans-serif;
  color: #ff3801;
  text-transform: capitalize;
  display: block;
}

.title {
  font: 400 14px/20px "Open Sans", Arial, sans-serif;
  color: #333;
}

.price-sale {
  font: 400 14px/14px "Open Sans", Arial, sans-serif;
  color: #333;
  display: block;
}

.price-sale:before, .demonstration__content-user .price-sale_mods:after {
  margin-bottom: 4px;
  display: block;
  content: attr(data-price-actual);
  text-decoration: line-through;
  color: #ccc;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/*****************************
  All The Base style
******************************/
/* Reset *********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul, ol {
  list-style: none;
  font-size: 0;
  line-height: 0;
}

fieldset,
img {
  border: none;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="buttom"],
input[type="submin"],
input[type="reset"],
button {
  cursor: pointer;
  line-height: normal;
}

button,
input {
  line-height: normal;
}

input[type="hidden"],
[hidden],
.hidden {
  display: none;
}

textarea {
  overflow: auto;
  resize: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, .clearfix {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

a > img {
  vertical-align: bottom;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

:focus {
  outline: none;
}

/* Base **********************/
html {
  width: 100%;
  height: 100%;
  background: #fff;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-bsckface-visibility: hidden;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.empty {
  height: 580px;
}

.row {
  padding: 0 5px;
  *zoom: 1;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

[class*="col-"] {
  padding: 0;
}

a {
  color: #26a6d6;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

h1, h2, h3, h4, h5, h6 {
  color: #324d5b;
}

h1, h2, h3 {
  font-size: 30px;
  line-height: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.header__logo__wrap {
  width: 236px;
  height: 61px;
  margin: 0 auto;
}

.logo__link {
  width: 100%;
  height: 100%;
  display: block;
}

.logo__link:hover {
  text-decoration: none;
}

.navbar {
  padding: 20px 0;
  border-bottom: 2px solid #ebedee;
  text-align: justify;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  font: 700 16px/16px "Lato", Arial, sans-serif;
  color: #333;
}

.navbar__link:hover {
  color: #EE3F23;
  text-decoration: none;
}

.navbar:after {
  /*эмуляция второй строчки, чтобы можно было 
    выравнять текст по значению justify*/
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .nav {
    height: 100%;
    padding: 0;
  }
  .navbar__wrap {
    height: 100%;
    padding: 20px;
    position: relative;
  }
  .navbar-trigger {
    display: inline-block;
  }
  .navbar-trigger:hover, .navbar-trigger:focus {
    color: #ff3801;
  }
  .navbar {
    width: 30%;
    height: 100%;
    margin: 0;
    padding-top: 60px;
    display: none;
    text-align: center;
    background-color: rgba(255, 56, 1, 0.3);
    position: absolute;
    top: 0;
    right: 0;
  }
  .navbar__item {
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .navbar__link {
    font-size: 1.5em;
    line-height: 50px;
    display: inline-block;
  }
  .navbar__link:before, .navbar__link:after {
    display: none;
  }
  .closebtn {
    display: block;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar__wrap {
    padding: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .navbar {
    width: 100%;
    padding-top: 150px;
  }
}

.social__list {
  float: right;
}

.social__item {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: inline-block;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 32px;
  height: 32px;
  padding: 7px 6px 6px;
  display: block;
  background: #2c3b42;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.social__link:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.social__link:hover:after {
  width: 0;
  height: 0;
}

.social__link-fb {
  padding: 8px 6px 6px 10px;
  background-color: #415da6;
}

.social__link-vk {
  background-color: #6084a8;
}

.social__link-gl {
  background-color: #db4d3f;
}

.fa {
  font-size: 16px;
  color: #fff;
}

.header__top {
  border-bottom: 1px solid #ebedee;
}

.header__menu {
  *zoom: 1;
}

.header__menu:after {
  content: " ";
  display: table;
  clear: both;
}

.header__middle__wrap {
  padding: 30px 0;
  border-bottom: 1px solid #ebedee;
  *zoom: 1;
}

.header__middle__wrap:after {
  content: " ";
  display: table;
  clear: both;
}

.header__logo, .callback, .header__search {
  width: 33.3%;
}

.callback {
  padding-top: 8px;
}

.callback__phone-number {
  margin-right: 10px;
  font: 400 1.385em/18px "Lato", Arial, sans-serif;
  color: #333;
}

.callback__button {
  margin-top: 5px;
  font: 400 0.923em/12px "Lato", Arial, sans-serif;
  color: #fff;
  padding: 8px 13px;
  background-color: #89c238;
  border: none;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.callback__button:hover {
  background-color: #4e8401;
}

.header__search {
  padding: 13px 0;
  *zoom: 1;
}

.header__search:after {
  content: " ";
  display: table;
  clear: both;
}

.search {
  float: right;
}

.search__input {
  padding: 10px 25px 10px 35px;
  font: 400 1em/13px "Lato", Arial, sans-serif;
  border: 1px solid #ebedee;
  background: url(../img/searchBg.png) no-repeat left 12px top 12px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}

.search__input:-ms-input-placeholder {
  color: #666;
}

.search__input:-moz-placeholder {
  color: #666;
}

.search__input::-moz-placeholder {
  color: #666;
}

.search__input::-webkit-input-placeholder {
  color: #666;
}

.search__input::placeholder {
  color: #666;
}

.menu {
  float: left;
}

.menu__item {
  margin-right: 20px;
  padding: 15px 0;
  display: inline-block;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font: 400 13px/13px "Open Sans", Arial, sans-serif;
  color: #333;
}

.menu__link:hover {
  color: #333;
  text-decoration: underline;
}

.user__menu {
  float: right;
}

.user__menu__item {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user__menu__item:nth-child(1), .user__menu__item:nth-child(2) {
  border-left: 1px solid #ebedee;
}

.user__menu__item_colored {
  background-color: #ff3801;
}

.user__menu__item_colored:hover {
  background-color: #922000;
}

.user__menu__item:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ff3801;
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
}

.user__menu__item:hover:after {
  display: block;
}

.user__menu__link {
  padding: 15px 20px 15px 45px;
  font-weight: 700;
  display: block;
}

.user__menu__link-icon {
  width: 23px;
  position: absolute;
  left: 18px;
  top: -4px;
  bottom: 0;
}

.user__menu__link-icon-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.user__menu__link_colored {
  color: #fff;
  position: relative;
}

.user__menu__link_colored:hover {
  color: #fff;
}

.user__menu__link:hover {
  text-decoration: none;
}

.user-count {
  color: #ebe26a;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main-heading {
    font-size: 1.8em;
    line-height: 20px;
  }
  .post-heading {
    font-size: 1em;
    text-indent: 90px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .navbar {
    width: 100%;
    padding-top: 150px;
  }
  .header__heading {
    bottom: 20%;
  }
  .main-heading {
    font-size: 1.8em;
    line-height: 20px;
  }
  .post-heading {
    font-size: 1em;
    text-indent: 90px;
  }
}

.breadcrumbs {
  padding: 25px 0;
}

.breadcrumbs__item {
  margin-left: 10px;
  display: inline-block;
}

.breadcrumbs__item:first-child {
  margin-left: 0;
}

.breadcrumbs__item:first-child .breadcrumbs__link:before {
  display: none;
}

.breadcrumbs__link {
  font: 400 13px/13px "Open Sans", Arial, sans-serif;
  color: #333;
}

.breadcrumbs__link:before {
  display: inline-block;
  content: ">";
  width: 9px;
  height: 9px;
  margin-right: 10px;
}

.breadcrumbs__link:hover {
  color: #333;
}

.demonstration {
  margin-bottom: 40px;
}

.content-heading__title {
  margin-top: 12px;
  font-size: 24px;
  line-height: 24px;
}

.demonstration__content-user {
  margin-top: 20px;
  *zoom: 1;
}

.demonstration__content-user:after {
  content: " ";
  display: table;
  clear: both;
}

.demonstration__content-user .price-sale_mods {
  font-size: 22px;
  font-weight: 600;
}

.demonstration__content-user .price-sale_mods:after {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}

.demonstration__content-user .price-sale_mods:before {
  display: none;
}

.comments__voit {
  width: 80px;
  display: inline-block;
  vertical-align: text-bottom;
}

.comments__voit-pic {
  height: 14px;
  background: url(../img/star.png) repeat-x;
  display: block;
}

.comments__count {
  margin-top: 12px;
  font: 400 13px/13px "Open Sans", Arial, sans-serif;
  color: #333;
  text-decoration: underline;
  display: block;
}

.comments__count:hover {
  color: #ff3801;
}

.demonstration__content-size {
  margin-top: 25px;
}

.content-size__list {
  margin-top: 10px;
}

.content-size__item {
  margin-right: 10px;
  display: inline-block;
}

.content-size__item:last-child {
  margin-right: 0;
}

.content-size__item.active .content-size__link {
  outline: 2px solid #ff3801;
}

.content-size__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px;
  font: 400 13px/13px "Lato", Arial, sans-serif;
  color: #333;
  border: 2px solid transparent;
  outline: 1px solid #ccc;
}

.content-size__link:hover {
  text-decoration: none;
  outline: 2px solid #ff3801;
}

.demonstration__content-buy {
  margin-top: 25px;
  *zoom: 1;
}

.demonstration__content-buy:after {
  content: " ";
  display: table;
  clear: both;
}

.products {
  float: left;
  width: 50%;
}

.products-are {
  font: 400 13px/13px "Open Sans", Arial, sans-serif;
  color: #ff3801;
}

.products-number {
  font: 400 13px/13px "Open Sans", Arial, sans-serif;
  color: #333;
}

.products__button-buy {
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-top: 5px;
  font: 600 14px/40px "Lato", Arial, sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff3801;
  position: relative;
}

.products__button-buy:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.products__button-buy:hover {
  text-decoration: none;
  color: #fff;
}

.products__button-buy:hover:after {
  width: 100%;
  height: 100%;
}

.dilever {
  width: 50%;
  float: left;
}

.dilever__link {
  font: 400 13px/25px "Open Sans", Arial, sans-serif;
  color: #333;
  text-decoration: underline;
  display: block;
}

.dilever__link:hover {
  color: #ff3801;
}

.demonstration__content-discription {
  margin-top: 30px;
}

.discription__heading {
  font: 700 16px/16px "Open Sans", Arial, sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.discription__text {
  font: 400 13px/20px "Open Sans", Arial, sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.discription__link {
  font: 400 13px/13px "Open Sans", Arial, sans-serif;
  color: #ff3801;
  text-decoration: underline;
}

.discription__link:hover {
  color: #ff3801;
}

.slideshow {
  *zoom: 1;
}

.slideshow:after {
  content: " ";
  display: table;
  clear: both;
}

.slideshow__display {
  width: 500px;
  height: 400px;
  float: left;
  position: relative;
}

.slideshow__display__img {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slideshow__list {
  margin-right: 2px;
  float: left;
}

.slideshow__item {
  display: block;
  border: 1px solid transparent;
}

.slideshow__item.active {
  border: 1px solid #89c238;
}

.slideshow__pic {
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
}

.slideshow__pic__img {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 70px;
  max-height: 70px;
}

.similar-products {
  padding-bottom: 75px;
}

.similar-products__title {
  margin-bottom: 30px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
  color: #ff3801;
}

.slider {
  display: inline-block;
  position: relative;
}

.slider__list--wrap {
  width: 1170px;
  overflow: hidden;
}

.slider__list {
  width: 2000px;
  list-style: none;
  *zoom: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
}

.slider__list:after {
  content: " ";
  display: table;
  clear: both;
}

.slider__item {
  width: 230px;
  padding: 0 5px;
  float: left;
  border-right: 1px solid #e9ecee;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.slider__item:first-child {
  border-left: 1px solid #e9ecee;
}

.slider__item-content {
  padding-left: 25px;
}

.slider__item__button {
  margin-top: 20px;
  text-align: center;
  display: none;
}

.slider__link:hover {
  text-decoration: none;
}

.slider__controls-buttons {
  width: 35px;
  height: 35px;
  border: 2px solid #89c238;
  position: absolute;
  top: 50%;
}

.slider__controls-buttons_next {
  right: -30px;
  background: url(../img/arr-next.png) no-repeat center center;
}

.slider__controls-buttons_prev {
  left: -50px;
  background: url(../img/arr-prev.png) no-repeat center center;
}

.slider__controls-buttons:hover {
  background-color: #4e8401;
}

.user-comment {
  padding-bottom: 55px;
  position: relative;
}

.user-comment-trigger {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 13px 25px;
  font: 600 12px/12px "Lato", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #89c238;
}

.user-comment__list {
  border: 1px solid #ebebeb;
}

.user-comment__item {
  padding: 12px 0 12px 35px;
  border-top: 1px solid #ebebeb;
}

.user-comment__item:first-child {
  border-top: none;
}

.user-comment__item__wrap {
  padding: 12px 0;
  border-bottom: 1px solid #ebebeb;
  *zoom: 1;
}

.user-comment__item__wrap:after {
  content: " ";
  display: table;
  clear: both;
}

.user-comment__item__wrap:last-child {
  border: none;
}

.user-data {
  width: 20%;
}

.user-data-answer {
  width: 25%;
}

.user-data__name, .user-data__date {
  display: block;
  font: 400 12px/12px "Open Sans", Arial, sans-serif;
}

.user-data__name {
  margin-bottom: 10px;
  color: #333;
}

.user-data__date {
  margin-bottom: 20px;
  color: #999;
}

.rating__item {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/rating-star.png) no-repeat center center;
}

.user-comment-content {
  width: 75%;
}

.user-comment-content-answer {
  width: 70%;
}

.user-comment-content__text, .user-comment-content__link {
  font: 400 12px/20px "Open Sans", Arial, sans-serif;
}

.user-comment-content__text {
  color: #333;
}

.user-comment-content__link {
  color: #ff3801;
  text-decoration: underline;
}

.user-comment-content__link:hover {
  color: #ff3801;
}

.user-comment__modal {
  padding: 30px 40px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
}

.user-comment__modal-heading {
  margin-bottom: 30px;
  font: 600 16px/16px "Open Sans", Arial, sans-serif;
  color: #333;
  text-align: left;
}

.user-comment__form {
  margin-top: 0;
  float: none;
}

.form {
  *zoom: 1;
}

.form:after {
  content: " ";
  display: table;
  clear: both;
}

.form div {
  width: 33.3333%;
  padding-right: 50px;
  float: left;
}

.form div:last-child {
  padding-right: 0;
}

.form__contnet {
  text-align: justify;
}

.form__contnet-text {
  font: 400 12px/12px "Open Sans", Arial, sans-serif;
  color: #333;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 15px;
  background-color: #ebedee;
  border: none;
}

.form__textarea {
  width: 100%;
  height: 90px;
  margin-bottom: 25px;
  padding: 5px 15px;
  background-color: #ebedee;
  border: none;
}

.button {
  width: 100%;
  padding: 18px 20px;
  color: #fff;
  text-transform: capitalize;
  background: #a2ca28;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff3801;
}

.closebtn {
  width: 60px;
  height: 60px;
  padding: 19px;
  font-size: 35px;
  color: #000;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.closebtn:hover {
  text-decoration: none;
}

.footer {
  height: 580px;
  margin-top: -580px;
  background-color: #0d1119;
  position: relative;
}

.resources {
  padding-right: 40px;
}

.footer__link {
  font: 400 1.071em/14px "Open Sans", Arial, sans-serif;
  color: #fff;
}

.footer__link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__text {
  margin-top: 23px;
  font: 400 1em/24px "Open Sans", Arial, sans-serif;
  color: #8297a7;
}

.contact {
  *zoom: 1;
}

.contact:after {
  content: " ";
  display: table;
  clear: both;
}

.about {
  padding-right: 20px;
}

.footer__mail {
  margin-top: 35px;
}

.form__name, .form__email {
  padding: 18px 20px;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.form__name:-ms-input-placeholder, .form__email:-ms-input-placeholder {
  font: 400 1em "Open Sans", Arial, sans-serif;
  color: #83969f;
  text-transform: capitalize;
}

.form__name:-moz-placeholder, .form__email:-moz-placeholder {
  font: 400 1em "Open Sans", Arial, sans-serif;
  color: #83969f;
  text-transform: capitalize;
}

.form__name::-moz-placeholder, .form__email::-moz-placeholder {
  font: 400 1em "Open Sans", Arial, sans-serif;
  color: #83969f;
  text-transform: capitalize;
}

.form__name::-webkit-input-placeholder, .form__email::-webkit-input-placeholder {
  font: 400 1em "Open Sans", Arial, sans-serif;
  color: #83969f;
  text-transform: capitalize;
}

.form__name::placeholder, .form__email::placeholder {
  font: 400 1em "Open Sans", Arial, sans-serif;
  color: #83969f;
  text-transform: capitalize;
}

.form__name {
  width: 29%;
}

.form__email {
  width: 40%;
}

.button {
  padding: 18px 20px;
  color: #fff;
  text-transform: capitalize;
  background: #a2ca28;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff3801;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .footer__item {
    width: 50%;
  }
}

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .footer {
    height: 800px;
    padding: 30px 30px;
  }
  .resources, .about {
    margin-bottom: 20px;
  }
  .form {
    width: 100%;
  }
  .form__input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Custom, iPhone Retina */
