/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 925px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .user-data {
    width: 100%;
    float: none;
  }

  .user-comment-content {
    width: 85%;
    text-align: justify;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .user-data {
    width: 100%;
    float: none;
  }

  .user-comment-content {
    width: 85%;
    text-align: justify;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}