.slideshow {
  width: 50%;
  float: left;
  @include clr;
  position: relative;

  &__display {
    float: left;
    margin: 15px 15px 0 75px;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__item {
    margin-bottom: 10px;
    display: block;
    border: 1px solid transparent;


    &.active {
      border: 1px solid $green;
    }
  }

  &__pic {
    display: block;
    width: 70px;
    height: 70px;
  }
}