//---------------------------//
//Footer --------------------//
//---------------------------//

// html {
//  width: 100%;
//  height: 100%;
// }

// body {
//  background: #fff;
//  width: 100%;
//  height: 100%;
//

.footer {
  height: 580px;
  margin-top: -580px;
  position: relative;

  &__top {
    padding: 40px 0 35px 0;
    background-color: #f4f6f8;
    border-bottom: 3px solid $red;
  }

  &__middle {
    padding: 45px 0 17px 0;
    border-bottom: 1px solid #ebedee;

    &__wrap {
      @include clr;
    }
  }

  &__bottom {
    padding: 25px 0 20px 0;
  }
}

//footer__top *************************** //

.offers {
  @include clr;

  &__item {
    padding: 75px 35px 0 35px;
    text-align: center;

    &.pic-1 {
      background: url(../img/offerImg-1.png) no-repeat top center;
    }
    &.pic-2 {
      background: url(../img/offerImg-2.png) no-repeat top center;
    }
    &.pic-3 {
      background: url(../img/offerImg-3.png) no-repeat top center;
    }
    &.pic-4 {
      background: url(../img/offerImg-4.png) no-repeat top center;
    }
  }

  &__heading {
    margin-bottom: 15px;
    font: 700 16px/16px $ffL;
    color: $red;
  }

  &__link {

    color: #333;
    line-height: 20px;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }
}

// footer__middle ********************* //

.menu__item_footer-mods {
  display: block;
  margin-bottom: 15px;
  padding: 0;
}

.menu__link_footer-mods:hover {
  text-decoration: none;
  color: $red;
}

.navbar_footer-mods {
  padding: 0;
  border: none;

  &__item {
    display: block;
    margin-bottom: 15px;
  }

  &__link {
    font: 400 13px/13px $ffO;
    color: #333;
  }
}

.mail {
  margin-bottom: 25px;
}

.mail__input {
  width: 100%;
  padding: 10px 25px 10px 15px;
  font: 400 1em/13px $ffL;
  border: 1px solid #ebedee;
  @include br(50px);
  @include placeholder {
    color: #666;
  }
}

.footer__middle__logo {
  font: 600 18px/18px $ffO;
  color: #333;

  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.footer__middle__copyright {
  margin-top: 18px;
  display: block;
}

.social__list_footer-mods {
  margin-top: 35px;
  float: none;

  &__link {

    background-color: #fff;
    border: 2px solid $red;

    &:hover, &:hover .fa {
      color: #fff;
      background-color: $red;
    }
  }

  &__fa {
    font-size: 13px;
    color: $red;
  }
}

// footer__bottom ************************* //

.footer__bottom-promo {
  font: 400 13px/13px $ffO;
  color: #333;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}