/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .mail {
    font-size: 12px;
  }

  .offers__item {
    padding: 75px 20px 0 20px;
  }

  .footer-callback__phone-number {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .navbar_footer-mods {
    position: static;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .footer {
    height: 250px;
    margin-top: -250px;
  }

  .empty {
    height: 250px;
  }

  .footer__middle__wrap {
    padding: 50px 0 150px 0;
    position: relative;
  }

  .footer-logo {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer-mail {
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer-callback {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
