//URL relative to the style.css
$ffO: 'Open Sans', Arial, sans-serif;
$ffL: 'Lato', Arial, sans-serif;
$ffAR: 'AvenirNextRoundedReg', Arial, sans-serif;
$ffAM: 'AvenirNextRoundedMed', Arial, sans-serif;
$ffAD: 'AvenirNextRoundedDemi', Arial, sans-serif;
$ffPR: 'ProximaNovaReg', Arial, sans-serif;
$ffPR: 'ProximaNovaSemibold', Arial, sans-serif;
$grey: #333;
$green: #89c238;
$red: #ff3801;